<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babyraising.friendstation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> &lt;!&ndash; 用于访问GPS定位 &ndash;&gt; -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".FriendStationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/login_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/login_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.main.DrawalActivity"></activity>
        <activity android:name=".ui.main.CustomerServiceActivity" />
        <activity
            android:name=".ui.main.LookPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.NewMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.PrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.VersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.VoiceSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ece27e15ec1f4059a8fe0c2653760fb4" />

        <activity
            android:name=".ui.main.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.main.MomentSendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.main.VoiceSendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.VoiceTipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.CloseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.ScrollImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.IncomeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.IntegralMallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MyEarningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.PersonAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.InviteFriendDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.RankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.other.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.LookMeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.GiftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.LoginPhoneDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.CommonWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.ExchangeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.InviteFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pay.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.NoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.BuildUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.BuildUserSexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.BuildUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.VoiceSelfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.CodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.LoginPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.RTCService" />
        <service android:name=".service.LocationService" />
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>