<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babyraising.friendstation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.main.ScrollImageActivity"></activity>
        <activity android:name=".ui.main.PersonInfoActivity" />
        <activity android:name=".ui.main.IncomeRecordActivity" />
        <activity android:name=".ui.main.RechargeActivity" />
        <activity android:name=".ui.main.IntegralMallActivity" />
        <activity android:name=".ui.main.SignActivity" />
        <activity android:name=".ui.main.MyEarningActivity" />
        <activity android:name=".ui.main.PersonAuthActivity" />
        <activity android:name=".ui.main.MyInfoActivity" />
        <activity android:name=".ui.main.SettingActivity" />
        <activity android:name=".ui.main.InviteFriendDetailActivity" />
        <activity android:name=".ui.main.RankActivity" />
        <activity android:name=".ui.main.TaskActivity" />
        <activity android:name=".ui.other.HelpActivity" />
        <activity android:name=".ui.main.LookMeRecordActivity" />
        <activity android:name=".ui.main.GiftActivity" />
        <activity android:name=".ui.user.LoginPhoneDetailActivity" />
        <activity android:name=".ui.main.CommonWordActivity" />
        <activity android:name=".ui.main.ExchangeRecordActivity" />
        <activity android:name=".ui.main.InviteFriendActivity" />
        <activity android:name=".ui.pay.PayActivity" />
        <activity android:name=".ui.user.NoticeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.BuildUserNameActivity" />
        <activity android:name=".ui.user.BuildUserSexActivity" />
        <activity android:name=".ui.user.BuildUserActivity" />
        <activity android:name=".ui.user.CodeActivity" />
        <activity android:name=".ui.user.LoginPhoneActivity" />
        <activity android:name=".ui.user.WelcomeActivity" />
        <activity android:name=".ui.user.LoginActivity" />
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>